html {
    overflow-x: hidden !important;
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    overflow-x: hidden !important;
    overflow-y: visible;
}

/* Navbar Animation */

@keyframes navbar {
    0% {margin-top: -10vh}
    100% {margin-top: 0vh}
}

/* For Navbar */

.navbar {
    margin-top: 0vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    width: 100%;
    height: 70px;
    padding-top: 25px;
    padding-bottom: 10px;
    z-index: 500;
    animation-name: navbar;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0,1,0,1);
}
.nav {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-right: 15%;
}
.logo {
    flex: 1 1 auto;
    margin-left: 210px;
    text-transform: uppercase;
    color: #fff;
}
.nav-link {
    margin: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    list-style: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.logo-image {
    width: 50px;
    margin-left: 100px;
}

.nav-mobile {
    z-index: 502;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: white;
    flex-direction: row;
    text-align: center;
    margin-left:25px;
    margin-right: 25px;
    flex-wrap: wrap;
    line-height: 20px;
    padding-bottom: 20px;
}

.nav-link-mobile {
    padding-right: 40px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}

.nav-link-mobile:hover {
    text-decoration: underline;
}

.nav-mobile-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-mobile-logo-text {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none !important;
    color: #fff !important;
    padding-right: 15px;
}

.nav-mobile-logo-image {
    width: 50px;
    padding-right: 15px;
}

/* Mobile Menu Media Query */

@media screen and (min-width: 981px) {
    .nav-mobile {
        display: none;
    }
    .nav-mobile-logo {
        display: none;
    }
}

/* Media Query */

@media only screen and (max-width: 980px) {
    .navbar {
        height: 120px;
        justify-content: center; 
        width: device-width;
    }
    .nav {
        display: none;
    }
    .logo-image {
        display: none;
    }
    .logo {
        display: none;
    }

}

@media screen and (min-width:980px) {
    .nav-link-mobile {
        font-size: 20px;
    }
}

/* Landing Page */

.landing-page-section {
    margin-top: -100vh;
    height: 100vh;
    width: -webkit-fill-available;
    background-image: url("Images/BG Video.gif");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    display: flex;
    align-items: center;    
    justify-content: center;
    overflow: hidden !important;
    animation-name: landing-page-background;
    animation-duration: 1s;
    animation-timing-function: ease;
}

/* Landing Page Background Opacity Animation */

@keyframes landing-page-background {
    0% {opacity: .8}
    100% {opacity: 1}
}

/* Logo Animation */

@keyframes logo-half-1 {
    0% {opacity: 0; margin-top: -25vh;}
    100% {opacity: .3; margin-top: 0vh;}
}

@keyframes logo-half-2 {
    0% {opacity: 0; margin-top: 25vh}
    100% {opacity: .3; margin-bottom: 0vh}
}

.landing-page-logo-background-half-1 {
    opacity: .3;
    width: 700px;
    animation-name: logo-half-1;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0,.75,0,1);
    position: absolute;
}

.landing-page-logo-background-half-2 {
    opacity: .3;
    width: 700px;
    animation-name: logo-half-2;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0,.75,0,1);
    position: absolute;
}

/* Landing Page Background Media Query */

@media screen and (max-width: 980px) {
    .landing-page-logo-background-half-1 {
        width: 400px;
    }
    .landing-page-logo-background-half-2 {
        width: 400px;
    }
}

.landing-page-heading {
    font-size: 40px;
    text-align: left;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 0 20px #000;
}

/* Animation */

@keyframes landingpage {
    0% {opacity: 0; margin-top: 10vh}
    100% {opacity: 1; margin-top: 3vh}
}

.landing-page-heading-container-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-page-heading-container {
    margin-top: 3vh;
    opacity: 1;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation-name: landingpage;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0,.75,.06,.99);
    margin-left: 15px;
    margin-right: 15px;
}

.landing-page-socials {
    width: 50px;
    padding: 15px;
    -webkit-filter: drop-shadow(0px 0px 5px #222);
    filter: drop-shadow(0px 0px 5px #222);
}

    .footer {
        height: 25vh;
        width: -webkit-fill-available;
        background: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .footer-social-link {
        width: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .footer-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .footer-header {
        color: #fff;
        font-size: 15px;
        text-align: center;
        justify-content: center;
    }

    .footer-copyright {
        color: #404040;
        font-size: 10px;
        text-align: center;
        justify-content: center;
    }

    .footer-link {
        color: #404040 !important;
    }

/* Media Query */

@media screen and (max-width: 980px) {
    .landing-page-heading-container {
        margin-left: 35px;
    }
    .landing-page-logo-background {
        display: hidden;
    }
}

/* Shop */

.shop {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation-name: shop;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0,.75,0,1);
    background: #fff;
    margin: 10vh 0 20px 0;
}

.shop-container {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.shop-heading {
    font-weight: 600;
    text-align: center;
    color: #000;
    font-size: 40px;
}

.shop-paragraph {
    font-size: 25px;
}

/* Twitter Profile */

.twitter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

.twitter-img {
    width: 70px;
    border-radius: 100px;
}

.twitter-profile {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    margin-right: 3vh; 
    margin-left: 3vh;
}

.twitter-name {
    font-weight: 600;
    text-align: left;
    font-size: 30px;
}

.twitter-username {
    font-weight: 400;
    text-align: left;
    font-size: 20px;
}

.twitter-follow-btn {
    background-color: #00B1FF;
    border-radius: 1000px;
    cursor: pointer;
    color: #fff;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
    font-size: 20px;
    border: none;
    box-shadow: 0px 0px 15px #cfcfcf;
    text-decoration: none;
    color: #fff;
}

.twitter-follow-btn:hover {
    background-color: #fff;
    color: #00B1FF;
}

.twitter-follow-btn-text {

}

.twitter-follow-btn-text:hover {
    color: #00B1FF;
}

/* Shop Animation */

@keyframes shop {
    0% {opacity: .2; margin-top: 15vh}
    100% {opacity: 1; margin-top: 10vh}
}

/* Store Media Query */

@media screen and (max-width: 980px) {
    .shop-heading {
        font-size: 30px;
        text-align: center;
    }

    .shop-paragraph {
        font-size: 25px;
        text-align: center;
    }
}

/* Contact Page */

.contact {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

/* Contact Animaiton */

@keyframes contact {
        0% {opacity: .1; margin-top: 30vh}
        100% {opacity: 1; margin-top: 23vh}
}

.contact-info {
    margin-top: 23vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation-name: contact;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0,.75,0,1);
}

.contact-info-heading {
    font-weight: 600;
    font-size: 40px;
}

.contact-info-paragraph {
    font-weight: 300;
    font-size: 25px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=email], select, _replyto {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #000;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  clip-path:  polygon(0 0,calc(100% - 20px) 0,100% 20px,100% 100%,20px 100%,0 calc(100% - 20px));
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=submit]:hover {
  background-color: #404040;
}

/* Partners */

.partners-information-section {
    height: 100vh;
    display: flex;
    align-items: center;
    margin-left: 7%;
    animation-name: information;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0,.75,0,1);
}

/* Partners Animation */

@keyframes information {
    0% {opacity: .3; margin-left: -0%}
    100% {opacity: 1 !important; margin-left: 7%;}
}

@keyframes information-mobile {
    0% {opacity: .3; margin-left: -5%}
    100% {opacity: 1 !important; margin-left: 0%;}
}

@keyframes partners {
    0% {opacity: .3; margin-top: -80vh;}
    100% {opacity: 1; margin-top: -100vh;}
}

.partners-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100vh;
    animation-name: partners;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0,.75,0,1);
    flex-direction: column;
    padding: 100px;
    padding-top: 150px;
}

.partners-arma {
    width: 150px;
    justify-content: center;
}

.partners-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.partners-heading {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.partners-link {
    color: #262626;
}

.partners-link:hover {
    color: #525252;
}

.partners-paragraph {
    font-size: 20px;
    text-align: center;
}

/* Information Media Query */

@media screen and (max-width: 1000px)  {
    .partners-information-section {
        margin-left: 0%;
        justify-content: center;
        position: relative;
        bottom: 200px;
        animation-name: information-mobile;
    }
}

/* Partners Media Query */

@media screen and (max-width: 980px) {
    .partners-container {
        margin-top: 10vh;
    }
}

.page-information-container {
    display: flex;  
    float: left;
    align-items: left;
    flex-direction: column;
    z-index: 5;
}

.page-heading {
    font-size: 30px;
    font-weight: 600;
}

.page-paragraph {
    font-size: 15px;
}

.featured-content-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.iframe-container{
    position: absolute;
  width: 80%;
  padding-bottom: 46%; 
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;

}
.iframe-container iframe{
    position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Featured Content Media Query */

@media screen and (max-width: 980px) {
    .featured-content-section {
        height: 30vh;
    }
}

.call-to-action-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.call-to-action-hero {
    justify-content: left;
    margin-right: 100px;
}

.call-to-action-button {
  justify-content: right;
  background-color: #000;
  color: #fff;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  transition-duration: 0.1s;
  cursor: pointer;
  clip-path:  polygon(0 0,calc(100% - 20px) 0,100% 20px,100% 100%,20px 100%,0 calc(100% - 20px));
}

.call-to-action-button:hover{
    background-color: #404040;
    color: #fff;
}

.call-to-action-heading {
    font-size: 30px;
}

.call-to-action-button-text {
    color: #fff !important;
    text-decoration: none !important;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Call To Action Media Query */

@media screen and (max-width: 980px) {
    .call-to-action-section {
        flex-direction: column;
        height: 100vh;
    }
    .call-to-action-hero {
        margin-right: 0px;
        padding: 20px;
    }
}

.about-us-section {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.about-us-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
}

.about-us-heading {
    font-weight: 600;
    font-size: 45px;
    animation-name: about-us-heading;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0,.75,0,1);
}

@keyframes about-us-heading {
    0% {opacity: .3; margin-top: 25vh;}
    100$ {opacity: 1; margin-top: 0vh}
}

.about-us-image {
    width: 30%;
    padding: 30px;
}

.about-us-image-mobile {
    width: 100%;
    padding: 30px;
}

.about-us-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 981px) {
    .about-us-image-mobile {
        display: none;
    }
    .about-us-image-container {
        flex-direction: row;
    }
}

@media screen and (max-width: 980px) {
    .about-us-image {
        display: none;
    }
}

.about-us-paragraph {
    font-size: 20px;
    padding: 15px;
}

.about-us-stats {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 80px;
}

.about-us-stats-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
}

.countup {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

.about-us-stats-subtitle {
    text-align: center;
    font-size: 25px;
}

.about-us-stats-footnote {
    margin-top: 20px;
    color: #6b6b6b;
    margin-bottom: 20px;
}

.team-section {
    margin-top: 25vh;
    margin-bottom: 15vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.team-page-heading {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    animation-name: team-page-heading;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0,.75,0,1);
}

@keyframes team-page-heading {
    0% {opacity: .1; margin-top: 25vh;}
    100% {opacity: 1; margin-top: 0vh}
}

.team-roster-heading {
    font-size: 25px;
        margin-top: 30px;
}

.team-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

.team-list-item {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
    padding: 10px 10px 10px 10px;
    transition: 1s;
}

.team-list-item:hover{
    transform: scale(1.1);
    z-index: 2;
    box-shadow: 0 0 2px #000;
}

.team-list-image {
    width: 300px;
}

.team-list-player-info-wrapper {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    margin-top: -10px;
    margin-left: 10px;
}

.team-list-name {
    font-weight: 600;
    font-size: 20px;
    color: #000;
}

.team-list-instagram {
    width: 25px;
    margin-top: 5px;
    margin-left: 15px;
    filter: drop-shadow(0px 0px 5px #fff);
}


.link-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
    animation-name: links;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0,.75,0,1);
}

.link-section-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.link-page-image {
    width: 100px;
    border-radius: 50%;
}


.links-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.links-page-link {
    color: #fff;
    text-align: center;
    width: 80vw;
    margin: 5px;
    clip-path:  polygon(0 0,calc(100% - 20px) 0,100% 20px,100% 100%,20px 100%,0 calc(100% - 20px));
    padding: 15px;
    background-color: #000;
}

/* Animation */

@keyframes links {
    0% {opacity: .1; margin-top: 5vh;}
    100% {opacity: 1; margin-top: 0vh;}
}

/* Links Media Query */

@media screen and (min-width: 981px) {
    .links-page-link {
        width: 100vh;
    }
}

/* Shop */

.shop-title {
    font-size: 30px;
    font-weight: 600;
    margin-top: 60px;
}

.merch-card {
    width: 240px;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 0 5px #c4c4c4;
    padding: 25px;
    margin-top: 60px;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0,.75,0,1);
    margin-left: 10px;
    margin-right: 10px;
    height: 371px;
}

.merch-card:hover {
    transform: scale(1.1,1.1);
    z-index: 1;
}

.merch-image {
    width: 200px;
}

.merch-title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 3px;
}

.merch-price {
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.merch-info {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    width: 100%;
}

.shop-container {
    display: flex;
    flex-direction: row;
}

/* Media Query */

@media screen and (max-width: 1280px) {
    .shop-container {
        flex-direction: column;
    }
    .merch-card {
        margin-top: 20px;
    }
}
